<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace：绑定对应的DAO/Mapper接口-->
<mapper namespace="helloMybatis.StudentDAO">

<!--    写SQL语句，id对应方法名，resultType对应返回值-->
    <select id="selectStudent" resultType="helloMybatis.Student">
        SELECT * FROM students
    </select>

</mapper>